.field-translations-wrapper {
  padding-bottom: 1em;
}

.field-translations-wrapper ul {
  float: left;
  margin-right: 4px;
}

.field-translations-wrapper li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 1em 0;
}

.field-translations-wrapper .language-tab {
  display: inline-block;
  padding: .5em 1em;
  border: 2px solid #ddd;
  background: #efefef;
  line-height: 1.5em;
}

.field-translations-wrapper .language-tab {
  color: #777;
}

.field-translations-wrapper .language-tab:hover {
  color: #000;
}

.field-translations-wrapper .active .language-tab {
  background: #fff;
}

.field-translations-wrapper i {
  margin-left: 3px;
}

.field-translations-wrapper .untranslated .language-tab:hover {
  border-color: red;
}

.field-translations-wrapper .untranslated i {
  color: red;
}

.field-translations-wrapper .translated .language-tab:hover {
  border-color: orange;
}

.field-translations-wrapper .translated i {
  color: orange;
}


.field-translations-wrapper .uptodate .language-tab:hover {
  border-color: #8dae28;
}

.field-translations-wrapper .uptodate i {
  color: #8dae28;
}

.field-translations-wrapper .delete,
.field-translations-wrapper .untranslated.active .delete,
.field-translations-wrapper .default.active .delete {
  display: none;
}

.field-translations-wrapper .active .delete {
  display: inline;
  color: #777;
}

.field-translations-wrapper label.input {
  display: block;
  width: auto;
  padding-right: 1em;
  min-width: 15em;
  background: none;
}
